*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#9ad1f7, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
    text-align: center;
}

h1{
    margin: 10px;
}
.inputContainer{
    margin-top: 15px;
    
}

input{
    width: 200px;
    padding: 10px;
    margin-right: 10px;
}

#getbtn{
    padding: 10px 15px;
    background-color: #0a74da;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#weatherResult{
    margin-top: 20px;
}